@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

#MonkSeal {
  float: left;
  width: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#reportNumber {
  width: 120px;
  text-align: center;
}

#topnav {
  width: 100%;
  padding: 15px 0 5px 0;
  border-bottom: 3px solid lightblue;
  overflow: hidden;
  vertical-align: middle;
}

#topnav p {
  vertical-align: middle;
  font-size: 16px;
  padding: 10px 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#topnav a {
  color: black;
  text-align: center;
  text-decoration: none;
}
#topnav a i {
  vertical-align: middle;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.right {
  float: right;
}

#wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tabletUL {
  display: none;
}

#verticalMenu {
  z-index: 4;
  position: absolute;
  width: 99.5%;
  text-align: center;
  background-color: #dddddd;
  color: blue;
  font-size: 20px;
  list-style-type: none;
  border: 1px solid black;
  visibility: hidden;
  transition: opacity 0.75s, visibility 0.75s, height 0.75s;
  height: 0;
}

li {
  font-size: 13px;
  padding: 10px 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style-type: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

#findSeal{
  background-color: lightblue;
  width:60%;
  margin: 1% auto 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
}

.bottomNav {
  list-style-type: none;
  color: white;
  padding: 0;
  float: left;
  font-size: 14px;
}

/* Change the link color to #111 (lightblue) on hover */
li a:hover {
  background-color: lightblue;
}

.topnav {
  padding-top: 40px;
  list-style-type: none;
  background-color: white;
  border-bottom: 3px solid lightblue;
  display: inline-block;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#sealName {
  float: left;
  margin-left: 25%;
  margin-top: 5%;
}
#sealID {
  float: right;
  margin-right: 25%;
  margin-top: 5%;
}
#sealIdentity {
  overflow: hidden;
  padding-bottom: 5px;
}
#sealInfo {
  padding: 4% 5% 0 5%;
  padding-bottom: 3%;
  font-size: 18px;
  margin: 0 5% 0 5%;
}

#sealInfo p {
  padding-right: 40px;
}

#firstMenuSection {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 0 20px 0;
}

.menuSection {
  border-bottom: 1px solid black;
  padding: 30px 0 30px 0;
}

#learn {
  text-align: center;
  padding: 30px 0 30px 0;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

#tagNumber {
  float: left;
  padding-bottom: 20px;
}

#buttonContainer {
  text-align: center;
  padding-bottom: 30px;
}

#protectButton {
  padding: 7px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #008ed6;
  color: white;
  border: none;
}

#lightBlueSection {
  border-top: 1px solid black;
  padding: 50px 0px 30px 0px;
  text-align: center;
  background-color: #008ed6;
}

#h2White {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

#logoImgContainer {
  display: inline-block;
}

#noaaImg {
  float: left;
  width: 35%;
  padding: 45px 0 0 0;
  margin-left: 17%;
}

#mmcImg {
  float: right;
  width: 25%;
  padding-top: 45px;
  margin-right: 19%;
}

#darkBlueSection {
  padding: 30px 10px 50px 10px;
  background-color: #080870;
  display: inline-block;
}

#smallNavMenu {
  list-style-type: none;
  width: 50%;
  float: left;
  padding-left: 20px;
}

#socialContainer {
  width: 30%;
  padding: 0 20px 0 30px;
  border-right: 1px solid white;
  display: inline-block;
  text-align: center;
}

#socialImg {
  width: 50%;
  margin: 0 auto 0 auto;
}

#social {
  color: white;
  padding-bottom: 20px;
}

#facebook {
  background-color: #080870;
  border: none;
  width: 45%;
}

#instagram {
  background-color: #080870;
  border: none;
  width: 45%;
}

#firstDarkBlueSection {
  width: 100%;
  margin-top: 5%;
}
form {
  width: 100%;
  margin-top: 18%;
  text-align: center;
}
input {
  width: 60%;
  padding: 8px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
label {
  color: white;
}
input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #008ed6;
  color: white;
  width: 30%;
  border: none;
}
#signup {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 19px;
  margin-bottom: 20px;
  color: white;
}

#thirdDarkBlueSection img {
  width: 30%;
  float: left;
  margin: 10% 0 0 10%;
}
#thirdDarkBlueSection p {
  width: 40%;
  float: right;
  margin: 10% 10% 0 0;
  color: white;
}

/* Add a grey background color on mouse-over */

@media only screen and (min-width: 768px) {
  #reportNumber {
    float: right;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 13px;
    padding: 14px 2px;
  }

  #reportNumber a {
    color: black;
    text-align: center;
    text-decoration: none;
  }

  #topnav {
    display: none;
  }
  #verticalMenu {
    display: none;
  }
  #MonkSeal {
    text-align: center;
    display: block;
    font-size: 13px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  li {
    font-size: 13px;
    padding: 14px 2px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #tabletUL {
    padding-top: 55px;
    list-style-type: none;
    background-color: white;
    border-bottom: 3px solid lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  #sealName {
    float: left;
    margin-left: 30%;
    margin-top: 5%;
    font-size: 20px;
  }
  #sealID {
    float: right;
    margin-right: 30%;
    margin-top: 5%;
    font-size: 20px;
  }
  #sealIdentity {
    border-bottom: 1px solid black;
    overflow: hidden;
    padding-bottom: 3%;
  }
  #sealInfo {
    margin: 0 10% 0 10%;
    font-size: 20px;
    padding-bottom: 3%;
  }
  #sealInfo p {
    padding-right: 70px;
  }

  #firstMenuSection {
    border-bottom: 1px solid black;
    border-top: none;
    padding: 0 0 20px 0;
  }
  #smallNavMenu li {
    padding: 10px 0 10px 60px;
  }
  #smallNavMenu li a {
    font-size: 16px;
  }

  #learn {
    font-size: 25px;
  }

  #protectButton {
    font-size: 15px;
  }

  #socialContainer {
    width: 30%;
    padding: 0 30px 0 30px;
    border-right: 1px solid white;
    display: inline-block;
    text-align: center;
  }

  #socialImg {
    width: 50%;
    margin: 0 auto 0 auto;
  }

  #social {
    color: white;
    padding-bottom: 20px;
  }

  #facebook {
    background-color: #080870;
    border: none;
    width: 45%;
  }

  #instagram {
    background-color: #080870;
    border: none;
    width: 45%;
  }

  form {
    width: 100%;
    margin-top: 12%;
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  #reportNumber {
    float: right;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 15px;
    padding: 14px 10px;
  }

  #reportNumber a {
    color: black;
    text-align: center;
    text-decoration: none;
  }
  #tabletUL {
    display: block;
  }
  .topnav {
    display: none;
  }
  #myLinks {
    display: none;
  }
  #MonkSeal {
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  li {
    font-size: 14px;
    padding: 10px 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  #tabletUL {
    padding-top: 50px;
    list-style-type: none;
    background-color: white;
    border-bottom: 3px solid lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #tabletMenuContainer {
    display: inline-block;
  }

  #tabletMenuInfo {
    float: right;
    width: 40%;
    margin-right: 5%;
  }

  #tabletLargeMenu {
    margin-top: 800px;
  }

  #img-seal {
    display: block;
    width: 47.5%;
    float: left;
    padding: 2.5% 2.5% 2.5% 5%;
  }
  #sealName {
    margin-left: 10%;
    margin-top: 5%;
  }
  #sealID {
    margin-top: 5%;
    margin-right: 30%;
  }
  #sealIdentity {
    overflow: hidden;
    padding-bottom: 5px;
  }
  #sealInfo {
    padding: 4% 5% 0 5%;
    padding-bottom: 3%;
    margin: 0;
    border: none;
    font-size: 16px;
  }

  #sealInfo p {
    padding-right: 40px;
  }

  #firstMenuSection {
    border: none;
  }

  .menuSection {
    border-top: 1px solid black;
    border-bottom: none;
  }

  #learn {
    border-top: 1px solid black;
    font-size: 30px;
    padding-top: 55px;
  }

  #protectButton {
    font-size: 20px;
    margin-bottom: 30px;
  }

  #darkBlueSection {
    padding: 40px 10px 50px 10px;
    background-color: #080870;
    display: inline-block;
    width: 100%;
  }

  #smallNavMenu {
    list-style-type: none;
    width: 50%;
    float: left;
    padding-left: 20px;
  }

  #socialContainer {
    width: 30%;
    padding: 0 10px 35px 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    display: inline-block;
    text-align: center;
  }

  #socialImg {
    width: 50%;
    margin: 0 auto 0 auto;
  }

  #social {
    color: white;
    padding-bottom: 20px;
  }

  #facebook {
    background-color: #080870;
    border: none;
    width: 45%;
  }

  #instagram {
    background-color: #080870;
    border: none;
    width: 45%;
  }

  #firstDarkBlueSection {
    width: 50%;
    margin-top: 5%;
    float: left;
  }
  form {
    width: 50%;
    text-align: center;
    float: right;
    margin: 3% 0 0 0;
  }
  input {
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  label {
    color: white;
    float: left;
    margin: 0 0 0 7%;
  }
  input[type="submit"] {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-color: #008ed6;
    color: white;
    width: 30%;
    border: none;
    float: left;
    margin: 0 0 0 10%;
  }
  #signup {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 17px;
    margin: 15px 0 34px 10%;
    color: white;
    text-align: left;
  }
  #submitDiv {
    float: right;
    width: 50%;
  }
  #inputDiv {
    float: left;
    width: 50%;
  }

  #thirdDarkBlueSection img {
    width: 30%;
    float: left;
    margin: 10% 0 0 10%;
  }
  #thirdDarkBlueSection p {
    width: 40%;
    float: right;
    margin: 10% 10% 0 0;
    color: white;
  }
}
