* {
  margin: 0;
  padding: 0;
}
#findSeal {
  padding: 6px;
  border: none;
  background-color: lightblue;
  border-radius: 4px;
}
#MonkSeal {
  float: left;
  width: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


#reportNumber {
  width: 100px;
  padding: 20px;
  text-align: center;
}
.right{
    float:right;
}

#wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tabletUL {
  display: none;
}

#verticalMenu {
  margin-top: 60px;
  text-align: center;
  background-color: #dddddd;
  display: block;
  color: blue;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  list-style-type: none;
  border-bottom: 3px solid lightblue;
}

li {
  font-size: 13px;
  padding: 14px 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: lightblue;
}

.topnav {
  width: 100%;
  height: 40%;
  margin-top: 40px;
  list-style-type: none;
  background-color: white;
  border-bottom: 3px solid lightblue;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
  display: block;
}

/* Add a grey background color on mouse-over */

@media only screen and (min-width: 768px) {
    #reportNumber {
        width: 250px;
        padding: 20px;
        text-align: center;
      }
  #tabletUL {
    display: block;
  }
  .topnav {
    display: none;
  }
  #verticalMenu {
    display: none;
  }
  #MonkSeal {
    width: 190px;
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  li {
    font-size: 15px;
    padding: 14px 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #wrapper {
    width: 730px;
  }
  #tabletUL {
    height: 40%;
    margin-top: 60px;
    list-style-type: none;
    background-color: white;
    border-bottom: 3px solid lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #findSeal {
    font-size: 15px;
    padding: 6px;
    border: none;
    background-color: lightblue;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 1000px) {
    #reportNumber {
        width: 150px;
        padding: 20px;
        text-align: center;
      }
  #tabletUL {
    display: block;
  }
  .topnav {
    display: none;
  }
  #myLinks {
    display: none;
  }
  #MonkSeal {
    width: 100px;
    text-align: center;
    display: block;
    font-size: 17px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  li {
    font-size: 16px;
    padding: 14px 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #wrapper {
    width: 900px;
  }
  #tabletUL {
    height: 40%;
    margin-top: 50px;
    list-style-type: none;
    background-color: white;
    border-bottom: 3px solid lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #findSeal {
    font-size: 16px;
    padding: 6px;
    border: none;
    background-color: lightblue;
    border-radius: 4px;
  }
}
