@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 340px;
  margin: 0 auto;

}

.circle {
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  transition: all 1s;
  display:flex;
  overflow: hidden;
  justify-content: center;
  transform: skew(0);
  transform: translate(-50%,-50%);
}

#circularArrow {
  transform: translate(-50%,-50%);
  background: none;
  border: none;
  width: 80%;
  position: absolute;
  top: 91%;
  left: 50%

}

.circle-container img {
  width: 100%;
}

.expanded {
  transform-origin: center;
  transform: scale(2.2);
  z-index: 2;
  border-radius: 20%;
  transition: width 2s, transform 1s, border-radius 1s, background-color 1.5s;
  width: 100%;
  background-color: #0399d9;
  color: white;
}

.blueArea{
  display: block;
}


.topCirc{
  background-color: #0399d9;
  width: 55px;
  height:20px;
  border-radius: 0 0 50% 50%;

}

.rightCirc{
  background-color: #0399d9;
  width: 20px;
  height: 55px;
  border-radius: 50% 0 0 50%;
  margin-left:auto;
  align-self: center;
}

.leftCirc{
  background-color: #0399d9;
  width: 20px;
  height: 55px;
  border-radius: 0 50% 50% 0;
  margin-right: auto;
  align-self: center;
}

.bottomCirc{
  background-color: #0399d9;
  width: 55px;
  height:20px;
  border-radius: 50% 50% 0 0;
  align-self: flex-end;
}

.numCirc{
  top:35%;
  position:absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#howTo{
  display: flex;
  flex-direction: column;
}
#howTo h2{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 5% 0 5% 0;
}

#howTo i{
  margin: 0 auto 5% auto;
  font-size:xx-large;
}


/* Adjust the positions of the circles */
.circle1 {
  top: 25%;
  left: 50%;

}
.circle2 {
  top: 45%;
  left: 85%; 
}
.circle3 {
  top: 95%;
  left: 85%;
}
.circle4 {
  top: 115%;
  left: 50%;
}
.circle5 {
  top: 95%;
  left: 15%;
}
.circle6 {
  top: 45%;
  left: 15%;
}
