* {
  margin: 0;
  padding: 0;
}

.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  transition: all 1s;
}

#circularArrow {
  background: none;
  border: none;
  width: 80%;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-container img {
  width: 100%;
}

.expanded {
  width: 250px;
  height: 250px;
}

/* Adjust the positions of the circles */
.circle1 {
  top: 5%;
  left: 50%;

}
.circle2 {
  top: 25%;
  left: 85%;
}
.circle3 {
  top: 75%;
  left: 85%;
}
.circle4 {
  top: 95%;
  left: 50%;
}
.circle5 {
  top: 75%;
  left: 15%;
}
.circle6 {
  top: 25%;
  left: 15%;
}
