*{
    margin: 0;
    padding: 0;
}


.img-monk{
    display: block;
    width: calc(100vw - 45px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #555;
    border-color: rgb(37, 150, 190);
}

progress {
    display: block;
    border-radius: 7px; 
    width: calc(100vw - 45px);
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 20px;

  }
  progress::-webkit-progress-bar {
    border: 1.5px solid #555;
    border-color: rgb(37, 150, 190);
    background-color: white;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: rgb(37, 150, 190);
    border-radius: 7px;
  }

  .question{
    margin-right: 300px;
    font-family: NimbusBold;
    font-size:  8.5vw; 
   
    color:rgb(37, 150, 190);
  }

  .description{

    font-family: MontserratLight;
    font-size:  3.2vw;    
    color:rgb(30, 30, 30);

  }

  .allText{
    margin-bottom: 20px;
    text-align: left;
    margin-left: 23px;
  }


  button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    width: calc(100vw - 45px);
    height: 100px;
    background-color: white;
    border: 1.5px solid #555;
    border-color: rgb(37, 150, 190);
    border-radius: 7px;
    color: rgb(37, 150, 190);;
    font-size: 6vw;
    font-family: MontserratLight;

    
  }

  @media only screen and (min-width: 700px) {
    .img-monk{
        width: 650px;
    }
    progress {
        width: 650px;
    }
    button{
        width: 650px;
    }
    .allText{
        margin-left: calc(((100vw - 655px) / 2));
    }
    .question{
        font-size: 60px;
    }
    .description{
        font-size: 22px;
    }
  }

  @font-face {
    font-family: NimbusBold;
    src: url("/fonts/NimbusBold.otf") format("opentype");
}

@font-face {
    font-family: NimbusREg;
    src: url("/fonts/NimbusReg.otf") format("opentype");
}
@font-face {
    font-family: MontserratLight;
    src: url("/fonts/MontserratLight.ttf") format("opentype");
}

  