*{
    margin: 0;
    padding: 0;
}

li a:hover {
  background-color: lightblue;
}

.topnav {
  padding-top: 40px;
  list-style-type: none;
  background-color: white;
  border-bottom: 3px solid lightblue;
  display: inline-block;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  padding: 10px;
}


.img-monk{
    display: block;
    width: calc(100vw - 45px);
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #555;
    border-color: rgb(37, 150, 190);
}

progress {
    display: block;
    border-radius: 7px; 
    width: calc(100vw - 45px);
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 20px;

  }
  progress::-webkit-progress-bar {
    border: 1.5px solid #555;
    border-color: rgb(37, 150, 190);
    background-color: white;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: rgb(37, 150, 190);
    border-radius: 7px;
  }


  .question{
    display: block;
    font-family: NimbusBold;
    font-size:  8.5vw; 
    color:rgb(37, 150, 190);
  }

  .icons{
    vertical-align: middle;
    font-family: NimbusBold;
    font-size:  4.0vw; 
    margin-bottom: px;
    color:rgb(37, 150, 190);
    text-align: right;
  }

  .description{
    display: inline;
    font-family: MontserratLight;
    font-size:  3.5vw;    
    color:rgb(30, 30, 30);
    margin-left: 3px;
  }

  .extraQuestion{
    display: inline;
    margin-top: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size:  3.5vw;    
    color:rgb(37, 150, 190);
  }

  .allText{
    margin-bottom: 20px;
    text-align: left;
    margin-left: 23px;
    margin-right: 23px;
  }

  .scarBtn{
    
    text-align: left;
    display: block;
    width: calc(100vw - 100px);
    height: 80px;
    margin: auto;
    margin-bottom: 7px;
    background-color: white;
    border: 1.5px solid #555;
    border-color: rgb(37, 150, 190);
    border-radius: 10px;
    color: rgb(37, 150, 190);
    font-size: 3vw;
    font-family: MontserratLight;
    cursor: pointer;
    scroll-margin-block-start: 100px;
    
  }

  .foundSeals{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: calc(100vw - 100px);
    border-radius: 10px;
    border: 2px solid #555;
    border-color: rgb(37, 150, 190);
  }


  .generalBtn{
    display: inline-block;
    width: calc((100vw - 70px)/4);
    height: calc((100vw - 150px)/4);
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border: 1.5px solid #555;
    border-color: rgb(37, 150, 190);
    border-radius: 7px;
    color: rgb(37, 150, 190);
    font-size: 3vw;
    font-family: MontserratLight;
    cursor: pointer;
  }



  .mainButtons{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw / 3);
    height: 55px;
    background-color: rgb(37, 150, 190);
    color: white;
    border-radius: 100px;
    font-size: 3.5vw;
    margin-bottom: 50px;
  }

  .yes{
    margin-top: 10px;
    width: calc(100vw / 3);
    height: 55px;
    background-color: rgb(37, 150, 190);
    color: white;
    border-radius: 100px;
  }

  .no{

    width: calc(100vw / 3);
    height: 55px;
    background-color: white;
    color: rgb(37, 150, 190);
    border-radius: 100px;

  }
  .yesNo{
    text-align: center;
  }

  .sumbitButton{
    display: inline;
    margin-top: -30px;
    margin-bottom: 50px;
    width: calc(100vw / 3);
    height: 50px;
    background-color: rgb(37, 150, 190);
    color: white;
    border-radius: 100px;
    font-size: 3.5vw ;
  }

  .indecipherableButton{
    display: inline;
    margin-top: -30px;
    margin-bottom: 50px;
    width: calc(100vw / 3);
    height: 50px;
    background-color: white;
    color:  rgb(37, 150, 190);
    border-radius: 100px;
    font-size: 3.5vw ;
  }

  .enterNumbuttons{
    text-align: center;
  }

  .mainButtons:hover{
    background-color: rgb(37, 150, 190);
  }

  .allButtons{
    margin: auto;
    text-align: center;

  }

  .bleachInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50vw;
    height: 40vw;
    color:  rgb(37, 150, 190);
    border: 2px solid #ccc;
    border-radius: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:  15vw; 
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(188, 188, 188);
    opacity: 1; /* Firefox */
  }

.scarText{
  z-index: 3;
  position:sticky;
  position: -webkit-sticky;
  top:0px;
  background-color:white;


}

  .scarQuestion{
    display: block;
    margin-top: 35px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size:  5.5vw;    
    color:rgb(37, 150, 190);
    text-align: left;
    margin-left:calc((100vw - (100vw - 80px)) / 3);
    padding-top: 20px;
  }

  .unfortunately{
    display: block;
    margin-top: calc(100vh / 4);
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:  6.5vw;    
    color:rgb(37, 150, 190);
    text-align: center;
  }

  .scarInstructions{
    display: block;
    font-family: MontserratLight;
    font-size:  3.25vw;    
    color:rgb(107, 106, 106);
    text-align: left;
    margin-left:calc((100vw - (100vw - 80px)) / 3);
    padding-bottom: 20px;
    margin-top: 5px; 
    
  }

  .scarQhead{
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-size:  4.0vw;    
    text-align: left;
    margin-left: 15px;
    margin-right: 5px;
    vertical-align: middle;
  }
  

  .scarQbody{
    display: block;
    margin-top: -2px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    font-size:  3.5vw;    
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
  }


  .selected{
    background-color: rgb(37, 150, 190);
    color: white;
    
  }

  /*for select body part pages*/
 

  .fa-solid {
    background-color: rgba(106, 69, 69, 0.591);
    padding: 0.4vw 0.4vw;
    border-radius: 100px;
    color: #fff;
    font-size: 2.0vw;
    margin-top: 4.3px;
   z-index: 2;

  
}



.container1 {

  display: inline-block;
  position: relative; 


}


.tooltip1 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
  vertical-align: middle;
}

/* Style text tooltip */


.tooltipText1 {
  margin-left: calc(100vw / 2);
  width: calc(100vw / 2.5);
  z-index: 4;
  text-align: center;
  background-color: #fff;
  position: absolute;
  margin-top: 105%;
  padding: 5px 5px;
  border-radius: 20px;
  font-size: 2.0vw;
  font-family: MontserratLight;
  opacity: 0;
  transition: all .5s;
  cursor:default;
}

.fb { color: white;}



/*  Membuat dan style tip*/
.tooltipText1::after {
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(37, 149, 190, 0.665) transparent transparent;
    position: absolute;
    top: 50%;
    right: 100%;

}

/* Style Icon */





.facebook:hover .tooltipText1{
  opacity: 1;
  transform: translateY(-10px);
  background-color: rgba(37, 149, 190, 0.665);

}



/* Hover Background icon */
.fa-solid:hover{
  background-color: rgb(37, 150, 190);
}

/*for find seal page*/



.wrapper{
  display: inline-flex;
   position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 10vw;
  width: 60vw;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-top: 4px;
  font-family: MontserratLight;
  
}

#wrapper2{
  margin-bottom: 15px;
}
.wrapper .option{
  
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 8px;
  border-radius: 100px;
  cursor: pointer;
  padding: 0 20px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
  margin-top: 20px;
}
.wrapper .option .dot{
  height: 10px;
  width: 10px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background: rgb(37, 150, 190);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: rgb(37, 150, 190);
  background:  rgb(37, 150, 190);
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 16px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}

#option-1-2:checked:checked ~ .option-1,
#option-2-2:checked:checked ~ .option-2 {
  border-color: rgb(37, 150, 190);
  background: rgb(37, 150, 190);
}

#option-1-2:checked:checked ~ .option-1 .dot,
#option-2-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}

#option-1-2:checked:checked ~ .option-1 .dot::before,
#option-2-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span {
  font-size: 3.5vw;    
  color: #808080;
}

#option-1-2:checked:checked ~ .option-1 span,
#option-2-2:checked:checked ~ .option-2 span {
  color: #fff;
}

.descriptionColor{
  display: block;
  font-family: MontserratLight;
  font-size:  3.5vw;    
  color:rgb(30, 30, 30);
  margin-top: 25px;
  margin-left: 4px;
}

  @media only screen and (min-width: 700px) {
    .img-monk{
        width: 650px;
    }
    .foundSeals{
      width: 600px;
  }
    progress {
        width: 650px;
    }
    

    .generalBtn{
      height: 150px;
      font-size: 22px;
        width: 155px
    }

   
    
    .allButtons{
      margin-left: 30px;
      margin-right: 30px;

    }
    .mainButtons{
      width: 225px;
      height: 50px;
      font-size: 22px;
    }
   
    .yes{
      width: 225px;
      height: 50px;
      font-size: 22px;
    }
    .no{
      width: 225px;
      height: 50px;
      font-size: 22px;
    }
    .sumbitButton{
      width: 225px;
      height: 50px;
      font-size: 22px;
    }
    .indecipherableButton{
      width: 225px;
      height: 50px;
      font-size: 22px;
    }
    .allText{
        margin-left: calc(((100vw - 655px) / 2));
        margin-right: calc(((100vw - 655px) / 2));
    }
    .question{
        font-size: 60px;
    }
    .description{
        font-size: 22px;
    }
    .extraQuestion{
      font-size: 22px;
  }
  .unfortunately{
    font-size: 43px;
  }
  .bleachInput{
    width: 300px;
    font-size: 100px;
    height: 200px;
  }
  .scarQuestion{
    font-size: 30px;
  }
  .scarInstructions{
    font-size: 20px;
  }
  .scarBtn{
    width: 600px;
  }
  .fa-solid{
    font-size: 14px;
    padding: 3px 3px;
  }
  .tooltipText{
    width: 350px;
    font-size: 15px;
    margin-left: 130%;
  }
  .tooltipText1{
    width: 350px;
    font-size: 12px;
    margin-left: 400px;
    margin-top: 17px;
  }
}



  @media only screen and (min-width: 430px) {
    .scarQhead{
      font-size: 20px;
    }
    .scarQbody{
      font-size: 15px;
    }

  }






  @font-face {
    font-family: NimbusBold;
    src: url("/fonts/NimbusBold.otf") format("opentype");
}

@font-face {
    font-family: NimbusReg;
    src: url("/fonts/NimbusReg.otf") format("opentype");
}
@font-face {
    font-family: MontserratLight;
    src: url("/fonts/MontserratLight.ttf") format("opentype");
}

  