* {
    margin: 0;
    padding: 0;
  }

  #sealProfileModal {
    display:none;
    position:absolute;
    background-color: white;
    left:0;
    top:0;
    z-index: 3;
  }

  .menuSection{
    background-color: white;
  }

  #sealImg{
    display: block;
  }

  #returnBtn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    margin: 5% 0 0 2.5%;
    border: none;
    background-color: white;
    color: #0399d9;
    font-size: xx-large;
  }

  #resultText{
    z-index: 2;
  }