@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
  }

  #sealProfileModal {
    display:none;
    position:absolute;
    background-color: white;
    left:0;
    top:0;
    z-index: 3;
  }

  .menuSection{
    background-color: white;
  }

  #sealImg{
    display: block;
  }

  #returnBtn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    margin: 5% 0 0 2.5%;
    border: none;
    background-color: white;
    color: #0399d9;
    font-size: xx-large;
  }

  #resultText{
    z-index: 2;
  }

  #resultImgDiv{
    position:relative;
  }

  .nameDisplay{
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 20px;
    z-index: 2;
    color: #0399d9;
    background-color: white;
    padding: 3% 8%;
    border-radius: 10px;
    border: 2px solid #0399d9;
    border-right: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }

