@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.label h2 {
  font-family: "Open Sans", sans-serif;
  float: left;
  width: 100%;
  padding-bottom: 3%;
}
.label input {
  width: 100%;
  height:30px
}
.label {
  margin: 5% auto 0 auto;
  width: 70%;
}
datalist {
  width: 70%;
  position: absolute;
  background-color: white;
  border: 2px solid #008ed6;
  border-radius: 0 0 5px 5px;
}
option {
  background-color: white;
  color: #080870;
  font-size: 18px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 1% 0 1% 2%;
}
option:hover,
.active {
  background-color: lightblue;
}

.checkboxButtons input {
  width: 20px;
  padding: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  border-radius: 5px;
  transform : scale(1.5);
  margin: 10px 10px 0 0;
}

input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #008ed6;
  color: white;
  width: 30%;
  border: none;
}

.checkboxButtons fieldset{
  width: 70%;
  margin: auto;
  border:none;
}

label{
  color: black;
}

#border{
  border-bottom:1px solid black;
  margin: 10% auto 0 auto;
  width: 80%;
  
}

@media only screen and (min-width: 768px) {
  .checkboxButtons input {
    margin: 10px 20px 0 0;
    transform : scale(2);
  }
  label{
    font-size: 18px;;
  }
}

@media only screen and (min-width: 1000px) {

  .label input {
    width: 100%;
    height:35px
  }
  label{
    float:none;
    padding:0;
    margin:0;
    font-size: 20px;;
  }
  input{
    padding:0;
    margin:0;
    width:50%;
  }

  .checkboxButtons input {
    margin: 20px 20px 0 0;
    transform : scale(2.5);
  }

  #seals option{
    
  }
}